/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--page-font), monospace;
  background-color: var(--bg-color);
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
  block-size: 100vh;
  min-inline-size: 375px;
  padding: var(--page-padding);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: 10px;
  bottom: 10px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
}

.rec {
  position: absolute;
  top: 10px;
  right: 38px;
  color:#FF0070;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.rec::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 5px;
  top: 8px;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  margin-left: 10px;
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
  padding-block-start: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
}

.header__theme-menu-item {
  color: var(--color-menu-item);
  font-size: 18px;
  line-height: 18px;
}

.header__theme-menu-button {
  background-color: inherit;
  border: none;
  text-transform: lowercase;
  padding: 3px 13px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--outline-button-color);
}

.header__title {
  min-block-size: 117px;
  min-inline-size: 355px;
  padding-block-start: 65px;
}

.header__title-text {
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--header-title-color);
  text-shadow: 4px 4px 0px var(--shadow);
}

.header__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  margin-block-start: 56px;
}

.title-decor {
  color: var(--title-color);
  background-color: var(--accent-color);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: var(--bg-color);
  padding: 40px var(--page-padding) 0;
  min-inline-size: 375px;
}

.article {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.article__heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--accent-color);
}

.article__text {
  font-weight: 700;
  font-size: 18px;
}

.article__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article__list-item {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.card__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color);
}

.card__text-link {
  text-shadow: 2px 2px 0px var(--shadow);
}

.images {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.images__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  gap: 10px;
  justify-items: center;
  margin: 0 auto;
}

.images__list-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}

.images__list-item {
  display: block;
  width: 355px;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 668px;
  margin-block-start: 40px;
}

.footer__title {
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--color-footer-title);
  text-shadow: 4px 4px 0px var(--shadow);
}