/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--page-font);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 35% 1fr;
  height: 100vh;
  min-height: 668px;
  width: 100%;
  padding: 10px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-block-start: 1px solid var(--corner-decorated-zone);
  border-inline-end: 1px solid var(--corner-decorated-zone);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: 10px;
  bottom: 10px;
  border-block-end: 1px solid var(--corner-decorated-zone);
  border-inline-start: 1px solid var(--corner-decorated-zone);
}

.rec {
  display: var(--rec);
  position: absolute;
  top: 10px;
  right: 38px;
  color:#FF0070;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.rec::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 5px;
  top: 8px;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  margin-left: 10px;
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
}

.header__theme-menu-item {
  color: var(--color-menu-item);
  font-size: 18px;
  line-height: 18px;
}

.header__theme-menu-button {
  background-color: inherit;
  border: none;
  text-transform: lowercase;
  padding: 3px 13px;
  cursor: pointer;
  border-block-end: 1px solid rgb(255 0 112 / 0);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--color-button-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--color-focus-button);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--outline-button-color);
  pointer-events: none;
}

.header__title {
  display: flex;
  flex-direction: column;
  gap: 57px;
}

.header__title-text {
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--header-title-color);
  text-shadow: 4px 4px 0px var(--shadow);
}

.header__subtitle {
  display: flex;
  align-self: flex-end;
  inline-size: clamp(355px, 50%, 491px);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.title-decor {
  color: var(--title-color);
  background-color: var(--accent-color);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: var(--bg-color);
  margin-top: 40px;
  padding: 0 10px 0;
  min-inline-size: 375px;
}

.article {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.article__what {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.article__what-heading {
  display: block;
  inline-size: clamp(315px, 236px, 355px);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--color-article-heading);
}

.article__what-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

.article__what-list-item {
  display: flex;
}

.article__advice {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article__heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--color-article-heading);
}

.article__text {
  font-weight: 700;
  font-size: 18px;
}

.article__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article__list-item {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.card__title-decor {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

.card__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color);
}

.card__text-link {
  text-shadow: 2px 2px 0px var(--link-shadow);
  text-decoration: none;
}

.card__text-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.card__text-link:focus {
  outline: none;
}

.card__text-link:focus-visible {
  outline: 1px solid var(--text-color);
}

.images {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.images__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  gap: 10px;
  min-inline-size: 355px;
}

.images__list-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}

.images__list-item {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  margin-block-start: 40px;
}

.footer__title {
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--color-footer-title);
  text-shadow: 4px 4px 0px var(--shadow);
}

@media (width >= 768px) {
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
  
  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }
  
  .rec {
    top: 20px;
    right: 48px;
  }

  .header__title-text {
    margin-inline-start: -20px;
  }

  .header {
    padding: 20px;
  }

  .content {
    gap: 80px;
    margin-top: 60px;
    padding: 0 20px 0;
  }

  .images {
    gap: 20px;
  }

  .images__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "sunset sunset ice-cream"
        "tape books ice-cream"
        "tape street street";
    width: 100%;
    gap: 20px;
  }

  .images__list-type-sunset {
    grid-area: sunset;
  }
  
  .images__list-type-ice-cream {
    height: 100%;
    grid-area: ice-cream;
  }
  
  .images__list-type-tape {
    height: 100%;
    grid-area: tape;
  }
  
  .images__list-type-books {
    grid-area: books;
  }
  
  .images__list-type-street {
    grid-area: street;
  }

  .footer {
    margin-block-start: 60px;
  }
}

@media (768px <= width < 1024px) {
  .header {
    grid-template-rows: 45% 1fr;
  }
  
  .header__title {
    gap: 162px;
  }

  .article {
    grid-template-columns: 236px 1fr;
  }

  .article__what-heading {
    inline-size: 30%;
  }
}

@media (width >= 1024px) {
  .header {
    grid-template-rows: 41% 1fr;
  }

  .header__theme-menu {
    align-self: start;
    justify-self: center;
    padding-block-start: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    gap: 114px;
  }

  .header__title-text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .article {
    grid-template-columns: 315px 1fr;
  }

  .article__what-list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }

  .images__list-street {
    padding-top: 4px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}