/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #FF0070;
  --page-font: 'IBM Plex Mono', monospace;
  --text-color: #F1B2CE;
  --bg-color: #000028;
  --shadow: #FF0070;
  --link-shadow: #FF0070;
  --title-color: #000028;
  --color-article-heading: #FF0070;
  --header-title-color: #DB00FF;
  --bg-image: url(../images/cover-image-dark.png);
  --outline-button-color: #FF0070;
  --color-menu-item: #FF0070;
  --color-button-hover: rgb(255 0 112 / 40%);
  --color-footer-title: #DB00FF;
  --rec: block;
  --corner-decorated-zone: #FF0070;
  --color-focus-button: #FF0070;
}
