/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #FF0070;
  --page-font: 'IBM Plex Mono';
  --text-color: #F1B2CE;
  --bg-color: #000028;
  --page-padding: 10px;
  --shadow: #FF0070;
  --title-color: #000028;
  --header-title-color: #DB00FF;
  --bg-image: url(../images/cover-image-dark.png);
  --outline-button-color: #FF0070;
  --color-menu-item: #FF0070;
  --color-footer-title: #DB00FF;
}
